$primary:rgba(110, 215, 205, 1);
$dprimary: rgba(0, 50, 50, 1);

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.bg-scrump {
    background-color: $primary;
}

// Nav

// Section Materials

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
}

.light-section {
    background: #eee;
    padding: 1rem 0;
}

.colored-section {
    background-color: $dprimary;
    padding: 1rem 0;
    color: rgba(225, 225, 225, 1)
}

.section-heading {
    font-weight: 900;
    margin: 0;
    padding: 1rem 0;
}

.menu-type {
    font-weight:500;
    color:lighten($primary, 25%);
}

// Main Carousel

.carousel {
    margin: 0;
}

.carousel-item {
    height: 80vh;
    background: $dprimary;
}


.carousel-caption {
    background-color: transparentize($dprimary, .5);
    bottom: 3rem;
    padding: 2rem;
    z-index: 10;
}


.carousel-bakery {
    background: linear-gradient(to top, transparentize($dprimary, .05) 0, transparentize($dprimary, .15) 20%, transparentize($dprimary, .4) 60%, transparentize($primary, .4) 100%),
        url("../images/bakery-1.jpeg");
    background-position: 0% 95%;
    background-size: cover;
}

.carousel-delivery {
    background: linear-gradient(to top, transparentize($primary, .45) 0, transparentize($primary, .5) 80%, transparentize($primary, .55) 100%),
        url("../images/delivery.jpg");
    // background: url(/images/loaf.jpg);
    background-position: 0% 15%;
    background-size: cover;
}

.carousel-safety {
    background: linear-gradient(to top, transparentize($dprimary, .45) 0, transparentize($dprimary, .4) 80%, transparentize($primary, .55) 100%),
        url("../images/facemask.jpg");
    background-position: 0% 50%;
    background-size: cover;
}

// Our Story

#ourstory {
    line-height: 1.5;
}

.story-image {
    width: 100%;
}

.story {
    margin:1rem 0;
}

// Menu

#menu {
    padding:5rem 0;
}

.menu .card {
    color: $dprimary;
    text-align: left;
}

.card {
    margin:1rem 0;
}

.card-img-top {
    height: 200PX;
    object-fit: cover;

    &.pastries-img {
        height: 400px;
    }
    &.cakes-img {
        height:400px;
    }
    &.cafe-img {
        height:400px;
    }
}
.card-text {
    text-align: left;
}


.cake {
    object-position: 0 70%;
}


// Buttons
.btn-primary {
    background-color: $dprimary;
}

// Branding 

.baked {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900px;
}

// Footer

.soc-icon{
    margin:2rem 1rem;
}

.social {
    color:white;
    &:hover {
        color:$primary;
    }
}